.items-products__column-open {
  position: absolute;
  max-width: 260px;
  display: none;
  background-color: #fff;
  z-index: 20;
  left: 0px;
  top: 22px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.open-products-slider__container {
  height: 200px;
  width: 230px;
  position: relative;
  margin: 0px 0px 18px 0px;
}
.open-products-slider__container .items-product__slider {
  height: 200px;
}

.items-products__column-open {
  width: 260px;
}

.product-item__bottom {
  margin: 10px 0px 10px 0px;
}

.open-products__content {
  margin: 0px 0px 18px 0px;
}
.open-products__images {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.open-products__image {
  position: relative;
  width: 100%;
  background-color: #c1c1c1;
  height: 62px;
  margin: 0px 0px 7px 0px;
  border-radius: 5px;
  overflow: hidden;
}
.open-products__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.open-products-open {
  padding: 5px 15px 5px 15px;
}

.item-product__btn {
  margin: 0px 0px 20px 0px;
}

.open-products-slider__content {
  display: flex;
}
.items-slider {
  margin: 0px 0px 18px 0px;
}
.round__buttons-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.round__buttons-button {
  background-color: #d8d8d8;
  height: 7px;
  width: 7px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}
.round__buttons-button-active {
  background-color: #fff;
}