.content {
   &__menu {
   }
   &__page {
   }

   &__page-categories {
   }
}
//aside========================
.menu-content {
   font-size: 15px;
   font-weight: 400;
   line-height: 28px;
   display: flex;

   &__link {
      color: #959594;
      margin: 0px 26px 0px 0px;
      display: flex;
      align-items: center;

      span {
         background: url("../img/img/arrow-2.png") 0 0 no-repeat;
         font-size: 20px;
         width: 16px;
         height: 16px;
         display: block;
         margin: 0px 0px 0px 3px;
      }
   }
}

//======================
.content {
   &__shell {
      display: flex;
   }

   &__side {
      flex: 0 0 300px;
      @media (max-width: $md4) {
         display: none;
      }

      //background-color: #959594;
   }

   &__page {
      flex: 1 1 auto;
      //background-color: #5940d4;
   }
}
.side-content {
   &__title {
      margin: 0px 0px 20px 0px;
   }

   &__block {
   }

   &__filter {
   }
}

.filter-content {
   &__container {
   }

   &__section {
      max-width: 250px;
      margin: 0px 0px 10px 0px;
      &-btn {
         position: relative;
         display: flex;
         justify-content: flex-end;
         font-size: 10px;
         font-weight: 500;
         line-height: 20px;
         letter-spacing: 0em;
         color: #5940d4;
         background-color: #f8f8f8;
         text-align: right;
         margin: 0px 0px 20px 0px;
      }
   }

   &__title {
      // color: #959594;

      margin: 0px 26px 20px 0px;
      display: flex;
      align-items: center;
      span {
         background: url("../img/img/filter-arrow.png") 0 0 no-repeat;
         font-size: 20px;
         width: 22px;
         height: 22px;
         display: block;
         margin: 0px 10px 0px 0px;
      }
   }

   &__body {
      margin: 0px 0px 10px 0px;
      &-scroll {
         height: 135px;
         overflow-y: scroll;
      }
      &-scroll::-webkit-scrollbar {
         width: 7px; /* здесь задается ширина скрола, в данном случае он не будет отображен */
         background: #d9d9d9;
         border-radius: 25px;
      }
      &-scroll::-webkit-scrollbar-thumb {
         border-radius: 25px;
         background: #5940d4;
         width: 7px;
      }
      &-two-options {
         display: flex;
      }
   }

   &__colors {
      display: flex;
   }

   &__color {
      background-color: #d5b0bd;
      width: 25px;
      height: 25px;
      border-radius: 50px;
      margin: 0px 0px 0px 5px;
      cursor: pointer;
   }
   &__checkbox {
      //margin: 0px 10px 0px 0px;
      &-options {
         margin: 0px 5px 0px 0px;
      }
   }
}
.checkbox {
   &-circle {
      display: flex;
   }
   &__input {
   }

   &__text {
   }

   &__count {
   }
}
//======================
.filter-content-search {
   &__content {
      margin: 0px 0px 20px 0px;
      border: none;
      background-color: #f1f1ef;
   }

   &__input {
      .input {
         background-color: #f1f1ef;
         display: flex;
         position: relative;
      }
   }
   &__btn {
      background: url("../img/img/search.png") 0 0 no-repeat;
      width: 20px;
      height: 20px;
      margin: 5px 20px 5px 20px;
   }
}

//=================================
.price-filter {
   &__slider {
      height: 4px;
      background-color: #d5b0bd;
      margin: 0px 11px 50px 11px;
      position: relative;
      &::before,
      &::after {
         content: "";
         background-color: #d5b0bd;
         width: 11px;
         height: 4px;
         position: absolute;
         top: 0;
      }
      &::before {
         //left: -11px;
      }
      &::after {
         right: -11px;
      }
      .noUi-base,
      .noUi-connects {
         position: relative;
         height: 4px;
      }

      .noUi-origin,
      .noUi-connect {
         width: 10%;
         height: 10%;
         will-change: transform;
         position: absolute;
         z-index: 1;
         top: 0;
         right: 0;
         transform-origin: 0 0;
         transform-style: flat;
      }
      .noUi-connect {
         width: 100%;
         height: 100%;
         background-color: #5940d4;
      }
      .noUi-handle {
         position: relative;
         top: -10px;
         width: 23px;
         height: 23px;
         right: -11.5px;
         background-color: #ffffff;
         border: 1px solid #5940d4;
         border-radius: 50%;
         cursor: pointer;
         &::after {
            content: "";
            width: 15px;
            height: 15px;
            background-color: #5940d4;
            position: absolute;
            left: 3.5px;
            top: 3.5px;
            border-radius: 50%;
         }
      }
      .noUi-tooltip {
         position: absolute;
         bottom: -22px;
         left: 50%;
         transform: translate(-50%, 0px);
         color: #999999;
         font-size: 12px;
         font-weight: 300;
      }
   }
}

.price-filter {
   &__slider {
   }

   &__values {
      display: flex;
   }
}
.values-price-filter {
   display: flex;
   &__column {
      display: flex;
      align-items: center;
      background-color: #f1f1ef;
      padding: 5px;
      border-radius: 8px;
      margin: 0px 16px 0px 0px;
   }

   &__label {
      margin: 0px 10px 0px 10px;
      &:last-child {
         margin: 0px 10px 0px 0px;
      }
   }

   &__input {
      .input {
         background-color: #f1f1ef;
         width: 75px;
         font-size: 12px;
      }
   }
}
//aside========================

.categories-content {
   margin: 0px 0px 40px 0px;
   display: flex;
   &__column {
      flex: 1 1 33.333%;
      margin: 0px 42px 0px 0px;
   }

   &__link {
      display: block;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &-1 {
         background-color: #89e8e9;
      }
      &-2 {
         background-color: #e4cfcc;
      }
      &-3 {
         background-color: #e6e6e6;
      }
   }

   &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 20.4px;
      margin: 20px;
      //background-color: #89e8e9;
      &:last-child {
         // margin: 0px;
      }
   }

   &__img {
      position: relative;
      height: 150px;
      width: 100%;
      img {
         position: absolute;
         // background-color: #d5b0bd;
         height: 100%;
         width: 100%;
         // min-height: 100px;
         // min-height: 100px;
         // border-radius: 16px;
      }
   }
}

//========================
.content {
   &__product {
      &-goods {
         display: flex;
         flex-wrap: wrap;
         margin: 0px 0px 40px 0px;
      }
   }

   &__product-container {
   }

   &__product-button {
      background-color: #f8f8f8;
      border: 1px solid #7053ff;
      color: #5940d4;
      margin: 0px 0px 20px 0px;
      span {
         margin: 0px 10px 0px 0px;
         width: 14px;
         height: 14px;
         background: url("../img/img/sort.png") 0 0 no-repeat;
      }
   }
}

.card-product {
   flex: 1 1 20%;
}

//tabs
.tabs {
   &__nav {
   }

   &__nav-btn {
   }

   &__content {
   }

   &__item {
      display: none;
   }
}
.tabs__item.active {
   display: block;
}
