.card-product {
   display: flex;
   flex-direction: column;
   flex: 1 1 15%;
   width: 150px;
   margin: 0px 20px 0px 0px;
   border: 1px solid #f8f8f8;
   border-radius: 16px;
   padding: 10px;
   position: relative;

   &:hover {
      border: 1px solid #e9e9e9;
      .prolapse-card {
         display: block;
      }
   }
   &__content {
   }

   &__information {
   }
   &__container {
   }

   &__labels {
      position: absolute;
      top: 20px;
      left: 20px;
      display: flex;
      flex-direction: column;
   }
   &__label {
      z-index: 4;
      background-color: #5940d4;
      color: #f8f8f8;
      border-radius: 100px;
      font-size: 8px;
      font-weight: 700;
      line-height: 15px;
      top: 20px;
      left: 20px;
      padding: 0px 10px 0px 10px;
      margin: 0px 0px 2px 0px;
   }
   &__slider {
      position: relative;
   }

   &__body {
   }

   &__slide {
   }

   &__image {
      border-radius: 16px;
   }

   &__name {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      color: #000000;
      margin: 0px 0px 8px 0px;
   }

   &__price {
      margin: 0px 0px 8px 0px;
      color: #000000;

      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
   }

   &__count {
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
      color: #000000;
   }

   &__delivery-terms {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;

      color: #959594;
      margin: 0px 0px 40px 0px;
   }
}

//================================
.prolapse-card {
   border: 1px solid #e9e9e9;
   border-radius: 16px;
   width: 150px;
   //display: none;
   position: absolute;
   padding: 10px;

   //background-color: #959594;
   top: 0;
   left: 0;
   background-color: #f8f8f8;
   width: 100%;
   &__images {
      display: flex;
      justify-content: space-between;
      margin: 0px 0px 10px 0px;
   }
   &__image {
      margin: 0px 2px 0px 2px;
      img {
         width: 30px;
         height: 30px;
      }
   }
}

.prolapse-card__image {
   img {
      //width: 30px;
      //height: 30px;
   }
}
//================================

.prolapse-card__image {
   img {
      //width: 50px;
      //height: 50px;
      border-radius: 5px;
   }
}
//============
.card-product {
   &__prolapse {
   }
}
.prolapse-card {
   display: none;
   z-index: 10;
   &__label {
      font-size: 12px;
      font-weight: 700;
      line-height: 22.4px;
      text-align: left;
      color: #000;
      margin: 0px 0px 10px 0px;
   }
   &__name {
      margin: 0px 5px 0px 0px;
   }

   &__item {
      display: flex;
      font-size: 10px;
      font-weight: 500;
      line-height: 19.6px;
      color: #959594;
      align-items: center;
      margin: 0px 0px 5px 0px;
   }

   &__value {
      //font-size: 12px;
      .prolapse-card__dimension {
         font-size: 12px;
      }
      span {
         margin: 0px 2px 0px 2px;
      }
   }

   &__dimensions {
      display: flex;
   }

   &__dimension {
      padding: 0px 2px 0px 2px;
      &-stock {
         color: #000;
      }
      &-active {
         color: #5940d4;
      }
      &:hover {
         color: #5940d4;
      }
   }
   &__btn {
      width: 100%;
      margin: 0px 0px 10px 0px;
   }
   &__delivery {
      font-size: 10px;
      font-weight: 500;
      line-height: 19.6px;
      color: #959594;
      margin: 0px 0px 10px 0px;
   }
   &__price {
   }
}
.card-popup {
   &__item {
   }
}
.prolapse-price {
   display: flex;
   justify-content: space-between;
   margin: 0px 0px 5px 0px;

   &__item {
      flex: 1 1 33.333%;
      padding: 10px 5px 10px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #e9e9e9;
      border-radius: 4px;
   }

   &__name {
      font-size: 7px;
      font-weight: 500;
      line-height: 10px;
      text-align: center;
      color: #959594;
      margin: 0px 0px 5px 0px;
   }

   &__quantity {
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      color: #959594;
   }
}

//================================
